<section class="first-sect">
    <form action="/account" class="w-100">
        <button class="btn d-flex justify-content-center align-items-center w-100 h-58 no-rad">
            <span style="width: 30%;" class="d-flex justify-content-center">
                <img src="./images/user.svg" width="25" alt="">
            </span>
            <span class="d-flex justify-content-start" style="width: 80%;">
                <span style="font-weight: bold;">My Account</span>
            </span>
        </button>
    </form>

    <form action="/orders" class="w-100">
        <button class="btn d-flex justify-content-center align-items-center w-100 h-58 no-rad">
            <span style="width: 30%;" class="d-flex justify-content-center">
                <img src="./images/sent.svg" width="25" alt="">
            </span>
            <span class="d-flex justify-content-start" style="width: 80%;">
                <span style="font-weight: bold;">Orders</span>
            </span>
        </button>
    </form>

    <form action="/voucher" class="w-100">
        <button class="btn d-flex justify-content-center align-items-center w-100 h-58 no-rad">
            <span style="width: 30%;" class="d-flex justify-content-center">
                <img src="./images/coupon.svg" width="25" alt="">
            </span>
            <span class="d-flex justify-content-start" style="width: 80%;">
                <span style="font-weight: bold;">Voucher Credit</span>
            </span>
        </button>
    </form>

    <form action="/saved" class="w-100">
        <button class="btn d-flex justify-content-center align-items-center w-100 h-58 no-rad">
            <span style="width: 30%;" class="d-flex justify-content-center">
                <img src="./images/heart.svg" width="25" alt="">
            </span>
            <span class="d-flex justify-content-start" style="width: 80%;">
                <span style="font-weight: bold;">Saved Items</span>
            </span>
        </button>
    </form>
    <div class="acc-border-bottom"></div>
    <div class="px-5 pt-3">
        <p class="p-2"><a href="/details">Details</a></p>
        <p class="p-2"><a href="/addressbook">Address Book</a></p>
        <p class="p-2"><a href="/password">Change Password</a></p>
        <p class="p-2"><a href="/newsletter">Newsletter Preferences</a></p>
    </div>
    <div class="acc-border-bottom"></div>
    <div class="w-100 d-flex justify-content-center p-4">
        <a href="/logout" class=" no-decor"><b>LOGOUT</b></a>
    </div>
</section>