<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- <link rel="stylesheet" href="boxicons/css/boxicons.min.css"> -->
</head>
<body class="err-body">
    
    <section class="w-100 err-main-section p-5">
        <img class="err-img" src="./images/flame-sign-up.png" width="45%" alt="">
        <div class="text-part w-100 d-flex flex-column align-items-center">
            <h1 class="err-text mt-1">OOPS! SOMETHING WENT WRONG.</h1>
            <a href="/" class="btn err-btn mt-1 px-4">Go Home</a href="/">
        </div>
    </section>

</body>
</html>